black==20.8b1
callee==0.3.1
colorama==0.4.3; sys_platform == "win32"
dataclasses==0.7; python_version < "3.7"
iso8601==0.1.13; python_version < "3.7"
distro==1.5.0
flake8-bugbear==20.1.4
flake8==3.7.9
funcsigs==1.0.2
glean-sdk==33.10.1
hg-evolve==10.1.0
immutabledict==1.0.0
importlib-metadata==0.23
mercurial==5.6.1
mock==3.0.5
pbr==5.4.3
pip-tools==5.5.0
pytest==5.2.1
python-hglib==2.6.2
scandir==1.10.0
sentry-sdk==0.19.5
