# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

version: '2'

services:
    generate-python3.7-requirements:
        image: python:3.7
        command: sh -c "cd /review && pip install pip-tools && python -m piptools compile dev/requirements/base.in --generate-hashes -o dev/requirements/python3.7.txt"
        volumes:
            - ..:/review
    generate-python3.8-requirements:
        image: python:3.8
        command: sh -c "cd /review && pip install pip-tools && python -m piptools compile dev/requirements/base.in --generate-hashes -o dev/requirements/python3.8.txt"
        volumes:
            - ..:/review
    generate-python3.9-requirements:
        image: python:3.9
        command: sh -c "cd /review && pip install pip-tools && python -m piptools compile dev/requirements/base.in --generate-hashes -o dev/requirements/python3.9.txt"
        volumes:
            - ..:/review
    generate-python3.10-requirements:
        image: python:3.10
        command: sh -c "cd /review && pip install pip-tools && python -m piptools compile dev/requirements/base.in --generate-hashes -o dev/requirements/python3.10.txt"
        volumes:
            - ..:/review
    generate-windows-requirements:
        # NOTE: This container should be run on a Windows machine.
        build:
            context: ./docker/windows-miniconda
        command: python -m piptools compile C:\\review\\dev\\requirements\\base.in --generate-hashes -o C:\\review\\dev\\requirements\\windows.txt
        volumes:
            - ..:C:\review
