# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

version: 2.1

# Define a filter that matches tags and not branches.
tags-only-filter: &tags-only-filter
  filters:
    tags:
      only:
        - /.*/
    branches:
      ignore:
        - /.*/

# Define a filter that matches tags and branches.
branches-and-tags-filter: &branches-and-tags-filter
  filters:
    tags:
      only:
        - /.*/
    branches:
      only:
        - /.*/

orbs:
  win: circleci/windows@5.0.0

workflows:
  version: 2
  test:
    jobs:
      - test_3_7:
          <<: *branches-and-tags-filter
      - test_3_8:
          <<: *branches-and-tags-filter
      - test_3_9:
          <<: *branches-and-tags-filter
      - test_3_10:
          <<: *branches-and-tags-filter
      - test_win:
          <<: *branches-and-tags-filter
      - test_package:
          <<: *branches-and-tags-filter
      - publish:
          <<: *tags-only-filter
          requires:
            - test_3_7
            - test_3_8
            - test_3_9
            - test_3_10
            - test_win
            - test_package

jobs:
  test_3_7: &test_template
    environment:
      - REQUIREMENTS_FILE: dev/requirements/python3.7.txt
    docker:
      - image: cimg/python:3.7
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: setup
          command: |
            set -e
            mkdir -p ~/test-reports
            mkdir -p ~/coredumps
            # configure hg
            echo -e "[ui]\nusername=mozphab test <moz-phab@example.com>" > ~/.hgrc
            echo -e "[extensions]\nevolve=" >> ~/.hgrc
            # configure git
            git config --global user.email "moz-phab-tests@example.com"
            git config --global user.name "moz-phab tests"
            # install test dependencies
            pip install --disable-pip-version-check --requirement $(echo $REQUIREMENTS_FILE)
            pip install --disable-pip-version-check --editable .
      - run:
          name: versions
          command: |
            set -e
            python3 --version
            git --version
            pip --disable-pip-version-check list --format freeze
      - run:
          name: run tests
          command: |
            set -e
            ulimit -c unlimited
            for F in tests/test_*.py; do
              pytest --junitxml=~/test-reports/junit-$( basename $F .py ).xml -vv $F
            done
            cp core.* ~/coredumps || true
      - store_test_results:
          path: ~/test-reports
      - store_artifacts:
          path: ~/test-reports
      - store_artifacts:
          path: ~/coredumps
  test_3_8:
    <<: *test_template
    environment:
      - REQUIREMENTS_FILE: dev/requirements/python3.8.txt
    docker:
      - image: cimg/python:3.8
  test_3_9:
    <<: *test_template
    environment:
      - REQUIREMENTS_FILE: dev/requirements/python3.9.txt
    docker:
      - image: cimg/python:3.9
  test_3_10:
    <<: *test_template
    environment:
      - REQUIREMENTS_FILE: dev/requirements/python3.10.txt
    docker:
      - image: cimg/python:3.10

  test_win:
    executor:
      name: win/default
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            pip install --disable-pip-version-check --requirement dev/requirements/windows.txt
            pip install --disable-pip-version-check --editable .
            git config --global user.email "moz-phab-tests@example.com"
            git config --global user.name "moz-phab tests"
      - run:
          name: versions
          command: |
            python --version
            git --version
            pip --disable-pip-version-check list --format freeze
      - run:
          name: run tests
          command: |
            mkdir test-reports
            function RunTest {
              & python -m pytest -vv @args
              if ($LASTEXITCODE -ne 0) {
                exit $LASTEXITCODE
              }
            }
            foreach ($f in Get-ChildItem -Path "tests" -Filter test_*.py) {
              RunTest --junitxml=test-reports/junit-$($f.BaseName).xml $f.FullName
            }
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports

  test_package:
    docker:
      - image: cimg/python:3.7
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: setup
          command: |
            python3 -m pip install --upgrade build pip
            python3 -m venv venv
            python3 -m build
            ./venv/bin/pip --disable-pip-version-check install dist/MozPhab*.tar.gz
      - run:
          name: run tests
          command: |
            ./venv/bin/pip --disable-pip-version-check show MozPhab
            ./venv/bin/moz-phab version
  publish:
    docker:
      - image: cimg/python:3.7
    working_directory: ~/repo
    steps:
    - checkout
    - run:
        name: build-and-publish
        # Generate packages and upload to PyPI via `twine`.
        command: |
            python3 -m pip install --upgrade build pip
            python3 -m pip install pipenv
            python3 -m pipenv install twine
            python3 -m build
            python3 -m pipenv run twine upload --repository pypi dist/*
